{% comment %} 상속받을때 제일 위, 한 번만 가능 {% endcomment %}
{% comment %} {% extends ".html" %} {% endcomment %}
{% comment %} static 태그 쓰려면 load함{% endcomment %}
{% comment %} 부모에서 load하면 자식들도 다 load되는게 아님! {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% comment %} 상대 경로 적는게 아니라 static 태그 사용 {% endcomment %}
  {% comment %} static 태그 사용, 확장자 이름까지 다 써주어야 함 {% endcomment %}
  <p>
    <img src="{% static "articles/sample-1.png" %}" alt="#">
    <img src="{% static "sample-2.png" %}" alt="#">
  </p>
  <h1>Articles</h1>
  <a href="{% url "articles:create" %}">CREATE</a>
  <hr>
  {% for article in articles %}
    <p>글 번호: {{ article.pk }}</p>
    <a href="{% url "articles:detail" article.pk %}">
      <p>글 제목: {{ article.title }}</p>
    </a>
    <p>글 내용: {{ article.content }}</p>
    <hr>
  {% endfor %}
</body>
</html>
